div#fancy_overlay{position:fixed;top:0;left:0;width:100%;height:100%;display:none;z-index:1130;}
div#fancy_loading{position:absolute;height:40px;width:40px;cursor:pointer;display:none;overflow:hidden;background:transparent;z-index:1200;}
div#fancy_loading div{position:absolute;top:0;left:0;width:40px;height:480px;background:transparent url(../images/fancybox/fancy_progress.png) no-repeat;}
div#fancy_outer{position:absolute;top:0;left:0;z-index:1190;background:transparent;display:none;margin:0;padding:20px 20px 40px;}
div#fancy_inner{position:relative;width:100%;height:100%;background:#F4F5F6;}
div#fancy_content{z-index:1200;position:absolute;margin:0;}
div#fancy_div{background:#000;color:#FFF;height:100%;width:100%;z-index:1200;}
img#fancy_img{position:absolute;top:0;left:0;border:0;z-index:1200;width:100%;height:100%;margin:0;padding:0;}
div#fancy_close{position:fixed;top:0;right:0;width:70px;height:70px;background:url(../images/fancybox/close.png) top left no-repeat;cursor:pointer;z-index:1281;display:none;}
#fancy_frame{position:relative;width:100%;height:100%;display:none;}
#fancy_ajax{width:100%;height:100%;overflow:auto;}
a#fancy_left,a#fancy_right{position:absolute;bottom:0;height:100%;width:35%;cursor:pointer;z-index:1211;display:none;background-image:url(data:image/gif;base64,AAAA);outline:none;overflow:hidden;}
a#fancy_left{left:0;}
a#fancy_right{right:0;}
span.fancy_ico{position:absolute;top:50%;margin-top:-32px;width:36px;height:64px;z-index:1212;cursor:pointer;display:block;}
span#fancy_left_ico{left:-9999px;background:transparent url(../images/slide-previous.png) no-repeat 0 -45px;}
span#fancy_right_ico{right:-9999px;background:transparent url(../images/slide-next.png) no-repeat 0 -45px;}
a#fancy_left:hover,a#fancy_right:hover{visibility:visible;background-color:transparent;}
a#fancy_left:hover span{left:-3px;}
a#fancy_right:hover span{right:-3px;}
#fancy_bigIframe{position:absolute;top:0;left:0;width:100%;height:100%;background:transparent;}
div#fancy_bg{position:absolute;top:0;left:0;width:100%;height:100%;z-index:1170;border:0;margin:0;padding:0;}
div.fancy_bg{position:absolute;display:block;z-index:1170;border:0;margin:0;padding:0;}
div#fancy_bg_n{top:-20px;left:0;width:100%;height:20px;background:transparent url(../images/fancybox/fancy_shadow_n.png) repeat-x;}
div#fancy_bg_ne{top:-20px;right:-20px;width:20px;height:20px;background:transparent url(../images/fancybox/fancy_shadow_ne.png) no-repeat;}
div#fancy_bg_e{right:-20px;height:100%;width:20px;background:transparent url(../images/fancybox/fancy_shadow_e.png) repeat-y;}
div#fancy_bg_se{bottom:-20px;right:-20px;width:20px;height:20px;background:transparent url(../images/fancybox/fancy_shadow_se.png) no-repeat;}
div#fancy_bg_s{bottom:-20px;left:0;width:100%;height:20px;background:transparent url(../images/fancybox/fancy_shadow_s.png) repeat-x;}
div#fancy_bg_sw{bottom:-20px;left:-20px;width:20px;height:20px;background:transparent url(../images/fancybox/fancy_shadow_sw.png) no-repeat;}
div#fancy_bg_w{left:-20px;height:100%;width:20px;background:transparent url(../images/fancybox/fancy_shadow_w.png) repeat-y;}
div#fancy_bg_nw{top:-20px;left:-20px;width:20px;height:20px;background:transparent url(../images/fancybox/fancy_shadow_nw.png) no-repeat;}
div#fancy_title{position:absolute;z-index:1200;display:none;margin-top:-9px;}
div#fancy_title div{padding:0 8px 19px;margin:0;white-space:nowrap;}
div#fancy_title table{margin:0 auto;}
div#fancy_title table td{vertical-align:middle;padding:0;}
td#fancy_title_left{height:55px;width:30px;background:transparent url(../images/fancybox/title_left.png) repeat-x;}
td#fancy_title_main{height:55px;background:transparent url(../images/fancybox/title_main.png) repeat-x;}
td#fancy_title_right{height:55px;width:30px;background:transparent url(../images/fancybox/title_right.png) repeat-x;}
